// imports carbon settings
@import '@carbon/elements/scss/elements';

.home__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .home__logo {
    // stylelint-disable-next-line carbon/motion-token-use
    animation: home-logo-spin infinite 20000ms linear;
  }
}
.home__link {
  @include carbon--type-style('productive-heading-04');
}

@keyframes home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
